* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #435165;
	margin: 0;
}

.login {
	width: 400px;
	background-color: #ffffff;
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
	margin: 100px auto;
	padding-bottom: 10px;
	border-radius: 15px;
}

.login p {
	text-align: center;
	border-bottom: 1px solid #dee0e4;
	padding: 0px 5px 10px 5px;
}

.login h1 {
	text-align: center;
	color: #5b6574;
	font-size: 24px;
	padding-top: 20px;
}
.login table {
	border-bottom: 1px solid #dee0e4;
}
.login form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
}
.login form label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: #3274d6;
	color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
	width: 310px;
	height: 50px;
	border: 1px solid #dee0e4;
	margin-bottom: 20px;
	padding: 0 15px;
}
.login form input[type="submit"] {
	width: 50%;
	padding: 10px;
	margin-top: 10px;
	background-color: #3274d6;
	border: 0;
	font-weight: bold;
	color: #ffffff;
	transition: background-color 0.2s;
	border-radius: 15px;
}
.login form input[type="submit"]:hover:enabled {
	background-color: #2868c7;
	transition: background-color 0.2s;
	cursor: pointer;
}


.login div {
	width: 100%;
	text-align: center;
}

.login div.higher {
	padding-top: 10px;
	padding-bottom: 10px;
}

.moveup {
	margin-top: -20px;
	margin-bottom: 10px;
}

.forgot {
	color: red;
	font-size: small;
}

table#logo {
	margin-left: auto;
	margin-right: auto;
}

table#logo tr td:nth-child(1) {
	padding-right: 20px;
}

/* Styles for edit_details page */

.details {
	width: 400px;
	background-color: #ffffff;
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
	margin: 100px auto;
}
.details h1 {
	text-align: center;
	color: #5b6574;
	font-size: 24px;
	padding: 20px 0 20px 0;
	border-bottom: 1px solid #dee0e4;
}

.details table tr td {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
}

.details table tr td label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background-color: #3274d6;
	color: #ffffff;
}
.details table tr td input[type="password"], input[type="text"], input[type="email"] {
	width: 310px;
	height: 40px;
	border: 1px solid #dee0e4;
	padding: 0 15px;
}

.details table tr td input[type="submit"], input[type="button"] {
	box-sizing: 0;
	width: 198px;
	height: 40px;	
	margin-top: 20px; 
	background-color: #3274d6;
	border: 0;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
	transition: background-color 0.2s;
}

.details table tr td input[type="submit"]:hover, input[type="button"]:hover {
	background-color: #2868c7;
	transition: background-color 0.2s;
}
